In [1]:
!pip install -U ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.5.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 14.3 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [9]:
!pip install prettytable==2.5.0 --force-reinstall

Collecting prettytable==2.5.0
  Downloading prettytable-2.5.0-py3-none-any.whl.metadata (22 kB)
Collecting wcwidth (from prettytable==2.5.0)
  Downloading wcwidth-0.2.13-py2.py3-none-any.whl.metadata (14 kB)
Downloading prettytable-2.5.0-py3-none-any.whl (24 kB)
Downloading wcwidth-0.2.13-py2.py3-none-any.whl (34 kB)
Installing collected packages: wcwidth, prettytable
  Attempting uninstall: wcwidth
    Found existing installation: wcwidth 0.2.13
    Uninstalling wcwidth-0.2.13:
      Successfully uninstalled wcwidth-0.2.13
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.16.0
    Uninstalling prettytable-3.16.0:
      Successfully uninstalled prettytable-3.16.0
Successfully installed prettytable-2.5.0 wcwidth-0.2.13

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///students.db

In [4]:
%%sql
DROP TABLE IF EXISTS student;

 * sqlite:///students.db
Done.

[]

In [5]:
%%sql
CREATE TABLE student (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(50),
    inter_dom VARCHAR(10),
    region VARCHAR(10),
    gender VARCHAR(10),
    academic VARCHAR(10),
    age INT,
    stay INT,
    japanese_cate VARCHAR(10),
    english_cate VARCHAR(10),
    todep INT,
    tosc INT,
    toas INT,
    partner VARCHAR(50)
);

 * sqlite:///students.db
Done.

[]

In [6]:
%%sql
INSERT INTO student (name, inter_dom, region, gender, academic, age, stay, japanese_cate, english_cate, todep, tosc, toas, partner) VALUES
('Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
('Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, NULL),
('Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
('Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, NULL),
('Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
('Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, NULL),
('Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
('Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
('Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
('John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
('Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, NULL),
('Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
('Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
('Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, NULL),
('Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, NULL),
('Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
('Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, NULL),
('Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
('Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
('Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
('Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, NULL),
('Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, NULL),
('Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
('Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, NULL),
('Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, NULL),
('Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
('Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, NULL),
('Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
('Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, NULL),
('Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
('Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, NULL),
('Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, NULL),
('Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, NULL),
('Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
('Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, NULL),
('Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
('Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, NULL),
('Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
('Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, NULL),
('Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, NULL),
('Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
('Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, NULL),
('Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
('Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, NULL),
('Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, NULL),
('Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
('Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, NULL),
('Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
('Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, NULL),
('Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, NULL),
('Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
('Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, NULL),
('Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
('Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, NULL),
('Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, NULL),
('Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, NULL),
('Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, NULL),
('Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, NULL),
('Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, NULL),
('Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
('Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, NULL),
('Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, NULL),
('Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, NULL),
('Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, NULL),
('Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, NULL),
('Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
('Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, NULL),
('Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
('Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, NULL),
('Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, NULL),
('Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
('Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, NULL),
('Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, NULL),
('Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
('Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, NULL),
('Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
('Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, NULL),
('Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, NULL),
('Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, NULL),
('Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, NULL),
('Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, NULL),
('Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, NULL),
('Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, NULL),
('Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, NULL),
('Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, NULL),
('Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, NULL),
('Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, NULL),
('Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, NULL),
('Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, NULL),
('Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, NULL),
('Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, NULL),
('Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, NULL),
('Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, NULL),
('Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, NULL),
('Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, NULL),
('Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, NULL),
('Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, NULL),
('Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, NULL),
('Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, NULL),
('Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, NULL),
('Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, NULL),
('Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, NULL);

 * sqlite:///students.db
102 rows affected.

[]

In [7]:
%%sql
SELECT * FROM student
LIMIT 25;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None)]

%%sql
'''
# SQL PRACTICE QUESTIONS: Fundamentals to Aggregates

This practice sheet covers everything shown in your progress image:  
- Selecting data  
- Filtering (WHERE, AND, OR, BETWEEN, IN, LIKE, NOT LIKE, %, _, IS NULL, IS NOT NULL)  
- Aggregates (COUNT, AVG, SUM, MIN, MAX, ROUND)  
- Sorting (ORDER BY, DESC)  
- Grouping (GROUP BY, HAVING)  
- Comparison operators  
- Arithmetic  

Assume a table called `students` with columns such as:  
`id, name, inter_dom, region, gender, academic, age, stay, japanese_cate, english_cate, todep, tosc, toas, partner, ...`

'''

%%sql

## 1. Selecting Data

1. Show all columns for all students.
2. Show only name, age, and gender for all students.
3. Show the first 10 rows of the table.
4. Show the last 5 rows of the table (hint: use ORDER BY id DESC and LIMIT).
5. Show all unique regions.
6. Show the total number of students.

In [ ]:
# 1. Show all columns for all students.
%%sql

SELECT * FROM student;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 2. Show only name, age, and gender for all students.

%%sql

SELECT name, age, gender FROM student;

 * sqlite:///students.db
Done.

[('Alice', 19, 'Female'),
 ('Bob', 20, 'Male'),
 ('Charlie', 23, 'Male'),
 ('Denise', 27, 'Female'),
 ('Elaine', 21, 'Female'),
 ('Frank', 22, 'Male'),
 ('Grace', 25, 'Female'),
 ('Hiro', 29, 'Male'),
 ('Ivy', 24, 'Female'),
 ('John', 21, 'Male'),
 ('Kate', 20, 'Female'),
 ('Liam', 26, 'Male'),
 ('Mia', 28, 'Female'),
 ('Nate', 25, 'Male'),
 ('Olga', 19, 'Female'),
 ('Paul', 22, 'Male'),
 ('Quinn', 30, 'Female'),
 ('Rosa', 24, 'Female'),
 ('Sam', 21, 'Male'),
 ('Tina', 20, 'Female'),
 ('Uma', 23, 'Female'),
 ('Victor', 28, 'Male'),
 ('Wendy', 27, 'Female'),
 ('Xavier', 20, 'Male'),
 ('Yuri', 22, 'Male'),
 ('Zara', 26, 'Female'),
 ('Ava', 19, 'Female'),
 ('Ben', 25, 'Male'),
 ('Cara', 23, 'Female'),
 ('Dan', 20, 'Male'),
 ('Ella', 28, 'Female'),
 ('Finn', 27, 'Male'),
 ('Gia', 21, 'Female'),
 ('Hank', 22, 'Male'),
 ('Ina', 25, 'Female'),
 ('Jack', 29, 'Male'),
 ('Kim', 24, 'Female'),
 ('Leo', 21, 'Male'),
 ('Mona', 26, 'Female'),
 ('Noah', 27, 'Male'),
 ('Opal', 23, 'Female'),
 ('Pia', 25, 'Female'),
 ('Quentin', 20, 'Male'),
 ('Rene', 28, 'Male'),
 ('Sophie', 19, 'Female'),
 ('Tom', 22, 'Male'),
 ('Usha', 27, 'Female'),
 ('Vik', 25, 'Male'),
 ('Willa', 24, 'Female'),
 ('Xena', 21, 'Female'),
 ('Yusuf', 29, 'Male'),
 ('Zane', 23, 'Male'),
 ('Anya', 24, 'Female'),
 ('Bert', 28, 'Male'),
 ('Cleo', 19, 'Female'),
 ('Dion', 22, 'Male'),
 ('Elin', 25, 'Female'),
 ('Fay', 27, 'Female'),
 ('Gus', 21, 'Male'),
 ('Hana', 23, 'Female'),
 ('Ian', 26, 'Male'),
 ('Jill', 28, 'Female'),
 ('Karl', 25, 'Male'),
 ('Lara', 19, 'Female'),
 ('Mark', 27, 'Male'),
 ('Nina', 21, 'Female'),
 ('Omar', 22, 'Male'),
 ('Pam', 25, 'Female'),
 ('Qasim', 29, 'Male'),
 ('Rita', 24, 'Female'),
 ('Seth', 21, 'Male'),
 ('Tara', 26, 'Female'),
 ('Umar', 27, 'Male'),
 ('Vera', 23, 'Female'),
 ('Walt', 20, 'Male'),
 ('Xia', 28, 'Female'),
 ('Yana', 27, 'Female'),
 ('Zed', 21, 'Male'),
 ('Amy', 19, 'Female'),
 ('Benji', 26, 'Male'),
 ('Cora', 28, 'Female'),
 ('Dale', 29, 'Male'),
 ('Eve', 21, 'Female'),
 ('Finn', 22, 'Male'),
 ('Gina', 25, 'Female'),
 ('Hugo', 28, 'Male'),
 ('Iris', 23, 'Female'),
 ('Jake', 20, 'Male'),
 ('Kira', 27, 'Female'),
 ('Liam', 27, 'Male'),
 ('Mira', 28, 'Female'),
 ('Nate', 29, 'Male'),
 ('Olive', 19, 'Female'),
 ('Pete', 22, 'Male'),
 ('Queen', 25, 'Female'),
 ('Rick', 28, 'Male'),
 ('Sara', 23, 'Female'),
 ('Tommy', 20, 'Male'),
 ('Uma', 27, 'Female'),
 ('Vince', 27, 'Male'),
 ('Wendy', 28, 'Female'),
 ('Xena', 29, 'Female')]

In [ ]:
# 3. Show the first 10 rows of the table.

%%sql
SELECT * FROM student
LIMIT 10;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine')]

In [ ]:
# 4. Show the last 5 rows of the table (hint: use ORDER BY id DESC and LIMIT).
%%sql

SELECT * FROM student
ORDER BY id DESC
LIMIT 5;

 * sqlite:///students.db
Done.

[(102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None)]

In [ ]:
%%sql
PRAGMA table_info(student);

 * sqlite:///students.db
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'name', 'VARCHAR(50)', 0, None, 0),
 (2, 'inter_dom', 'VARCHAR(10)', 0, None, 0),
 (3, 'region', 'VARCHAR(10)', 0, None, 0),
 (4, 'gender', 'VARCHAR(10)', 0, None, 0),
 (5, 'academic', 'VARCHAR(10)', 0, None, 0),
 (6, 'age', 'INT', 0, None, 0),
 (7, 'stay', 'INT', 0, None, 0),
 (8, 'japanese_cate', 'VARCHAR(10)', 0, None, 0),
 (9, 'english_cate', 'VARCHAR(10)', 0, None, 0),
 (10, 'todep', 'INT', 0, None, 0),
 (11, 'tosc', 'INT', 0, None, 0),
 (12, 'toas', 'INT', 0, None, 0),
 (13, 'partner', 'VARCHAR(50)', 0, None, 0)]

In [ ]:
%%sql
SELECT id, name FROM student LIMIT 10;

 * sqlite:///students.db
Done.

[(1, 'Alice'),
 (2, 'Bob'),
 (3, 'Charlie'),
 (4, 'Denise'),
 (5, 'Elaine'),
 (6, 'Frank'),
 (7, 'Grace'),
 (8, 'Hiro'),
 (9, 'Ivy'),
 (10, 'John')]

In [ ]:
# 5. Show all unique regions.
%%sql

SELECT DISTINCT region
FROM student;

 * sqlite:///students.db
Done.

[('SEA',), ('JAP',), ('EA',), ('SA',)]

In [ ]:
# 6. Show the total number of students.
%%sql
SELECT COUNT(*) AS total_students
FROM student;

 * sqlite:///students.db
Done.

[(102,)]

## 2. Filtering with WHERE, AND, OR

7. Show all international students.
8. Show all female students who are undergraduates.
9. Show all students who are either from 'SEA' or 'EA'.
10. Show all students who are not from 'SEA'.
11. Show all students who are under 22 years old.
12. Show all students from 'SEA' who are graduate students.
13. Show all domestic students who are older than 25.
14. Show all students who are either male or have 'High' Japanese proficiency.
15. Show all students who are not female.

In [ ]:
# 7. Show all international students.
%%sql
SELECT * FROM student
WHERE inter_dom = "Inter";

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
%%sql
SELECT COUNT(*) AS total_inter_students
FROM student
WHERE inter_dom = "Inter";

 * sqlite:///students.db
Done.

[(61,)]

In [ ]:
# 8. Show all female students who are undergraduates.
%%sql
SELECT * FROM student
WHERE gender = "Female" AND academic = "Under";

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None)]

In [ ]:
# 9. Show all students who are either from 'SEA' or 'EA'.
%%sql
SELECT * FROM student
WHERE region = "SEA" OR region = "EA";

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None)]

In [ ]:
%%sql
SELECT * FROM student
WHERE region IN ('SEA', "EA");

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None)]

In [ ]:
# 10. Show all students who are not from 'SEA'.
%%sql
SELECT * FROM student
WHERE region <> "SEA";

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
%%sql
SELECT *
FROM student
WHERE NOT region = 'SEA';

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 11. Show all students who are under 22 years old.
%%sql

SELECT * FROM student
WHERE age > 22;

 * sqlite:///students.db
Done.

[(3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 12. Show all students from 'SEA' who are graduate students.
%%sql
SELECT * FROM student
WHERE region = "SEA" AND academic = "Grad";

 * sqlite:///students.db
Done.

[(9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None)]

In [ ]:
# 13. Show all domestic students who are older than 25.
%%sql
SELECT * FROM student
WHERE inter_dom = "Dom" AND age > 25;

 * sqlite:///students.db
Done.

[(12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None)]

In [ ]:
# 14. Show all students who are either male or have 'High' Japanese proficiency.
%%sql
SELECT * FROM student
WHERE gender = "Male" OR japanese_cate = "High";

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 15. Show all students who are not female.
%%sql
SELECT * FROM student
WHERE gender <> "Female";

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None)]

In [ ]:
%%sql
SELECT * FROM student
WHERE NOT gender = "Female";

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None)]

## 3. Using BETWEEN, IN

16. Show all students aged between 18 and 25 (inclusive).
17. Show all students whose region is 'SEA', 'EA', or 'SA'.
18. Show all students whose age is NOT between 20 and 30.

In [ ]:
# 16. Show all students aged between 18 and 25 (inclusive).
%%sql
SELECT * FROM student
WHERE age BETWEEN 18 AND 25;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None)]

In [ ]:
# 17. Show all students whose region is 'SEA', 'EA', or 'SA'.
%%sql
SELECT * FROM student
WHERE region IN("SEA","EA","SA");

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# NORMAL METHOD USING OR
%%sql
SELECT * FROM student
WHERE region = "SEA" OR region = "EA" OR region = "SA";

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 18. Show all students whose age is NOT between 20 and 30.
%%sql
SELECT * FROM student
WHERE NOT age BETWEEN 20 AND 30;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None)]

In [ ]:
# Normal
%%sql
SELECT * FROM student
WHERE age < 20 OR age > 30;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None)]

## 4. Pattern Matching with LIKE, NOT LIKE, %, _

19. Show all students whose name starts with 'A'.
20. Show all students whose name ends with 'i'.
21. Show all students whose academic level contains 'Grad'.
22. Show all students whose region has 'A' as the second character.
23. Show all students whose region does NOT start with 'S'.

In [ ]:
# 19. Show all students whose name starts with 'A'.
%%sql
SELECT * FROM student
WHERE name LIKE "A%";

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None)]

In [ ]:
# 20. Show all students whose name ends with 'i'.
%%sql
SELECT * FROM student
WHERE name LIKE "%i";

 * sqlite:///students.db
Done.

[(25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None)]

In [ ]:
# 21. Show all students whose academic level contains 'Grad'.
%%sql
SELECT * FROM student
WHERE academic LIKE "%Grad%";

 * sqlite:///students.db
Done.

[(3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 22. Show all students whose region has 'A' as the second character.
%%sql
SELECT * FROM student
WHERE region LIKE "_A%";

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 23. Show all students whose region does NOT start with 'S'.
%%sql
SELECT * FROM student
WHERE region NOT LIKE "S%";

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None)]

## 5. NULL Checks

24. Show all students whose 'partner' field is NULL.
25. Show all students whose 'partner' field is NOT NULL.
26. Show all students whose 'english_cate' is NULL.

In [ ]:
# 24. Show all students whose 'partner' field is NULL.
%%sql
SELECT * FROM student
WHERE partner IS NULL;

 * sqlite:///students.db
Done.

[(2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 25. Show all students whose 'partner' field is NOT NULL.
%%sql

SELECT * FROM student
WHERE partner IS NOT NULL;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt')]

In [ ]:
# 26. Show all students whose 'english_cate' is NULL.
%%sql
SELECT * FROM student
WHERE english_cate IS NULL;

 * sqlite:///students.db
Done.

[]

## 6. Aggregate Functions & ROUND

27. Show the average age of all students (rounded to 2 decimals).
28. Show the total number of international students.
29. Show the minimum and maximum PHQ-9 (todep) score.
30. Show the average, sum, and count of 'tosc' for all students.
31. Show the average length of stay for domestic students (rounded to 1 decimal).
32. Show the number of students in each academic level.
33. Show the average todep for each region (rounded to 2 decimals).

In [ ]:
# 27. Show the average age of all students (rounded to 2 decimals).
%%sql
SELECT ROUND(AVG(age), 2) AS avg_age
FROM student;

 * sqlite:///students.db
Done.

[(24.15,)]

In [ ]:
# 28. Show the total number of international students.
%%sql
SELECT COUNT(inter_dom) AS total_inter_students
FROM student
WHERE inter_dom = "Inter";

 * sqlite:///students.db
Done.

[(61,)]

In [ ]:
# 29. Show the minimum and maximum PHQ-9 (todep) score.
%%sql
SELECT MIN(todep) AS minimum_todep_score, MAX(todep) AS maximum_todep_score
FROM student;

 * sqlite:///students.db
Done.

[(2, 17)]

In [ ]:
# 30. Show the average, sum, and count of 'tosc' for all students.
%%sql
SELECT AVG(tosc) AS avg_tosc, SUM(tosc) AS sum_of_tosc, COUNT(tosc) AS count_of_tosc
FROM student;

 * sqlite:///students.db
Done.

[(36.76470588235294, 3750, 102)]

In [ ]:
# 31. Show the average length of stay for domestic students (rounded to 1 decimal).
%%sql
SELECT ROUND(AVG(stay), 1) AS avg_stay_dom
FROM student
WHERE inter_dom = "Dom";

 * sqlite:///students.db
Done.

[(3.4,)]

In [ ]:
# 33. Show the average todep for each region (rounded to 2 decimals).
%%sql
SELECT region, ROUND(AVG(todep),2) AS avg_todep_per_region
FROM student
GROUP BY region;

 * sqlite:///students.db
Done.

[('EA', 12.76), ('JAP', 7.05), ('SA', 12.37), ('SEA', 10.14)]

## 7. Sorting

34. Show all students ordered by age ascending.
35. Show all students ordered by depression score (todep) descending.
36. Show all undergraduates ordered by their length of stay, from longest to shortest.

In [ ]:
# 34. Show all students ordered by age ascending.
%%sql
SELECT * FROM student
ORDER BY age;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None)]

In [ ]:
# 35. Show all students ordered by depression score (todep) descending.
%%sql
SELECT * FROM student
ORDER BY todep DESC;

 * sqlite:///students.db
Done.

[(8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (28, 'Ben', 'Inter', 'SEA', 'Male', 'Grad', 25, 5, 'High', 'Average', 9, 35, 25, 'Zara'),
 (42, 'Pia', 'Inter', 'SEA', 'Female', 'Grad', 25, 5, 'Average', 'Average', 9, 36, 23, None),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (63, 'Karl', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 9, 37, 23, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (9, 'Ivy', 'Inter', 'SEA', 'Female', 'Grad', 24, 3, 'Average', 'Average', 8, 33, 21, 'Frank'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (53, 'Anya', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'Low', 'High', 7, 45, 16, 'Zane'),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (12, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 6, 41, 19, 'Grace'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (48, 'Vik', 'Dom', 'JAP', 'Male', 'Grad', 25, 5, 'Low', 'Low', 6, 46, 18, 'Usha'),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (18, 'Rosa', 'Dom', 'JAP', 'Female', 'Grad', 24, 4, 'High', 'Average', 5, 43, 18, 'Paul'),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (7, 'Grace', 'Dom', 'JAP', 'Female', 'Grad', 25, 6, 'Low', 'Low', 4, 42, 15, 'Bob'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (68, 'Pam', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 4, 46, 15, 'Omar'),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (35, 'Ina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'Average', 3, 46, 16, None),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None)]

In [ ]:
# 36. Show all undergraduates ordered by their length of stay, from longest to shortest.
%%sql
SELECT * FROM student
WHERE academic = "Under"
ORDER BY stay DESC;

 * sqlite:///students.db
Done.

[(5, 'Elaine', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'High', 'High', 7, 45, 17, 'Alice'),
 (10, 'John', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'High', 'Average', 3, 50, 14, 'Elaine'),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (33, 'Gia', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Low', 'Low', 5, 45, 20, None),
 (37, 'Kim', 'Inter', 'SEA', 'Female', 'Under', 24, 3, 'Average', 'Average', 8, 31, 21, None),
 (49, 'Willa', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 30, 22, None),
 (66, 'Nina', 'Dom', 'JAP', 'Female', 'Under', 21, 3, 'Average', 'Average', 7, 45, 17, 'Karl'),
 (70, 'Rita', 'Inter', 'SA', 'Female', 'Under', 24, 3, 'Average', 'High', 8, 35, 22, None),
 (78, 'Zed', 'Dom', 'JAP', 'Male', 'Under', 21, 3, 'Average', 'Average', 4, 48, 12, None),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None),
 (1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None)]

## 8. Grouping (GROUP BY, HAVING)

37. Show the number of students in each region.
38. Show the average todep for each academic level.
39. Show the maximum length of stay for each gender.
40. Show the number of students in each Japanese proficiency category (japanese_cate).
41. Show the number of students grouped by region and gender.
42. Show all regions where there are more than 5 students.
43. Show the average toas (acculturative stress) for each region where the average is above 20.
44. Show all academic levels with more than 10 students.

In [ ]:
# 37. Show the number of students in each region.
%%sql
SELECT region, COUNT(id) AS students_per_region
FROM student
GROUP BY region;

 * sqlite:///students.db
Done.

[('EA', 21), ('JAP', 41), ('SA', 19), ('SEA', 21)]

In [ ]:
# 38. Show the average todep for each academic level.
%%sql
SELECT academic , AVG(todep) AS avg_todep_per_academic
FROM student
GROUP BY academic;

 * sqlite:///students.db
Done.

[('Grad', 12.166666666666666), ('Under', 7.25)]

In [ ]:
# 39. Show the maximum length of stay for each gender.
%%sql
SELECT gender, MAX(stay) AS max_stay_per_gender
FROM student
GROUP BY gender;

 * sqlite:///students.db
Done.

[('Female', 7), ('Male', 7)]

In [ ]:
# 40. Show the number of students in each Japanese proficiency category (japanese_cate).
%%sql
SELECT japanese_cate, COUNT(id) AS total_students_per_proficiency
FROM student
GROUP BY japanese_cate;

 * sqlite:///students.db
Done.

[('Average', 43), ('High', 36), ('Low', 23)]

In [ ]:
# 41. Show the number of students grouped by region and gender.
%%sql
SELECT region, gender, COUNT(id) AS no_of_student_per_region_and_gender
FROM student
GROUP BY region,gender;

 * sqlite:///students.db
Done.

[('EA', 'Female', 11),
 ('EA', 'Male', 10),
 ('JAP', 'Female', 20),
 ('JAP', 'Male', 21),
 ('SA', 'Female', 12),
 ('SA', 'Male', 7),
 ('SEA', 'Female', 11),
 ('SEA', 'Male', 10)]

In [ ]:
# 42. Show all regions where there are more than 5 students.
%%sql
SELECT region, COUNT(id) FROM student
GROUP BY region
HAVING COUNT(id) >5;

 * sqlite:///students.db
Done.

[('EA', 21), ('JAP', 41), ('SA', 19), ('SEA', 21)]

In [ ]:
# 43. Show the average toas (acculturative stress) for each region where the average is above 20.
%%sql
SELECT region, AVG(toas) AS avg_toas
FROM student
GROUP BY region
HAVING AVG(toas) >20;

 * sqlite:///students.db
Done.

[('EA', 28.095238095238095),
 ('SA', 28.526315789473685),
 ('SEA', 24.857142857142858)]

In [ ]:
# 44. Show all academic levels with more than 10 students.
%%sql
SELECT academic, COUNT(id)
FROM student
GROUP BY academic
HAVING COUNT(id) > 10;

 * sqlite:///students.db
Done.

[('Grad', 54), ('Under', 48)]

## 9. Comparison Operators

45. Show all students whose todep is greater than 10.
46. Show all students whose stay is less than or equal to 2.
47. Show all students whose age is not equal to 21.

In [ ]:
# 45. Show all students whose todep is greater than 10.
%%sql
SELECT * FROM student
WHERE todep >10;

 * sqlite:///students.db
Done.

[(3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [ ]:
# 46. Show all students whose stay is less than or equal to 2.
%%sql
SELECT * FROM student
WHERE stay <= 2;

 * sqlite:///students.db
Done.

[(1, 'Alice', 'Inter', 'SEA', 'Female', 'Under', 19, 1, 'Low', 'High', 9, 35, 22, 'Bob'),
 (2, 'Bob', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'Average', 5, 40, 18, None),
 (6, 'Frank', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Average', 'Average', 6, 38, 20, None),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (15, 'Olga', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 2, 47, 11, None),
 (19, 'Sam', 'Inter', 'SEA', 'Male', 'Under', 21, 2, 'Average', 'High', 7, 36, 20, 'Kate'),
 (20, 'Tina', 'Dom', 'JAP', 'Female', 'Under', 20, 1, 'High', 'High', 4, 48, 15, 'Sam'),
 (21, 'Uma', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Average', 'Average', 8, 34, 23, None),
 (24, 'Xavier', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 7, 44, 20, None),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (27, 'Ava', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'Average', 2, 47, 13, None),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (30, 'Dan', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 4, 48, 18, 'Ava'),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (38, 'Leo', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Kim'),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (43, 'Quentin', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'High', 5, 44, 15, 'Pia'),
 (45, 'Sophie', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'Average', 'Average', 7, 48, 17, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (50, 'Xena', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'Average', 3, 48, 14, None),
 (52, 'Zane', 'Inter', 'SEA', 'Male', 'Under', 23, 2, 'Average', 'Average', 9, 36, 21, None),
 (55, 'Cleo', 'Dom', 'JAP', 'Female', 'Under', 19, 1, 'High', 'Average', 5, 50, 13, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (59, 'Gus', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Average', 'High', 2, 48, 11, None),
 (60, 'Hana', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 6, 33, 28, 'Gus'),
 (64, 'Lara', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Low', 'Average', 3, 47, 13, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (71, 'Seth', 'Dom', 'JAP', 'Male', 'Under', 21, 2, 'Low', 'High', 6, 43, 19, 'Rita'),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (75, 'Walt', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'High', 'Average', 8, 44, 16, None),
 (79, 'Amy', 'Inter', 'SEA', 'Female', 'Under', 19, 2, 'Low', 'High', 6, 35, 21, None),
 (83, 'Eve', 'Dom', 'JAP', 'Female', 'Under', 21, 2, 'High', 'High', 7, 47, 15, None),
 (84, 'Finn', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 9, 38, 23, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (88, 'Jake', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Low', 'High', 8, 43, 20, None),
 (93, 'Olive', 'Dom', 'JAP', 'Female', 'Under', 19, 2, 'Average', 'High', 5, 47, 13, None),
 (94, 'Pete', 'Inter', 'SEA', 'Male', 'Under', 22, 2, 'Low', 'Average', 6, 36, 22, None),
 (97, 'Sara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'Average', 9, 31, 27, None),
 (98, 'Tommy', 'Dom', 'JAP', 'Male', 'Under', 20, 2, 'Average', 'High', 7, 44, 19, None)]

In [ ]:
# 47. Show all students whose age is not equal to 21.
%%sql
SELECT name, age FROM student
WHERE age <> 21;

 * sqlite:///students.db
Done.

[('Alice', 19),
 ('Bob', 20),
 ('Charlie', 23),
 ('Denise', 27),
 ('Frank', 22),
 ('Grace', 25),
 ('Hiro', 29),
 ('Ivy', 24),
 ('Kate', 20),
 ('Liam', 26),
 ('Mia', 28),
 ('Nate', 25),
 ('Olga', 19),
 ('Paul', 22),
 ('Quinn', 30),
 ('Rosa', 24),
 ('Tina', 20),
 ('Uma', 23),
 ('Victor', 28),
 ('Wendy', 27),
 ('Xavier', 20),
 ('Yuri', 22),
 ('Zara', 26),
 ('Ava', 19),
 ('Ben', 25),
 ('Cara', 23),
 ('Dan', 20),
 ('Ella', 28),
 ('Finn', 27),
 ('Hank', 22),
 ('Ina', 25),
 ('Jack', 29),
 ('Kim', 24),
 ('Mona', 26),
 ('Noah', 27),
 ('Opal', 23),
 ('Pia', 25),
 ('Quentin', 20),
 ('Rene', 28),
 ('Sophie', 19),
 ('Tom', 22),
 ('Usha', 27),
 ('Vik', 25),
 ('Willa', 24),
 ('Yusuf', 29),
 ('Zane', 23),
 ('Anya', 24),
 ('Bert', 28),
 ('Cleo', 19),
 ('Dion', 22),
 ('Elin', 25),
 ('Fay', 27),
 ('Hana', 23),
 ('Ian', 26),
 ('Jill', 28),
 ('Karl', 25),
 ('Lara', 19),
 ('Mark', 27),
 ('Omar', 22),
 ('Pam', 25),
 ('Qasim', 29),
 ('Rita', 24),
 ('Tara', 26),
 ('Umar', 27),
 ('Vera', 23),
 ('Walt', 20),
 ('Xia', 28),
 ('Yana', 27),
 ('Amy', 19),
 ('Benji', 26),
 ('Cora', 28),
 ('Dale', 29),
 ('Finn', 22),
 ('Gina', 25),
 ('Hugo', 28),
 ('Iris', 23),
 ('Jake', 20),
 ('Kira', 27),
 ('Liam', 27),
 ('Mira', 28),
 ('Nate', 29),
 ('Olive', 19),
 ('Pete', 22),
 ('Queen', 25),
 ('Rick', 28),
 ('Sara', 23),
 ('Tommy', 20),
 ('Uma', 27),
 ('Vince', 27),
 ('Wendy', 28),
 ('Xena', 29)]

In [ ]:
# 47. Show all students whose age is not equal to 21.
%%sql
SELECT name, age FROM student
WHERE age != 21;

 * sqlite:///students.db
Done.

[('Alice', 19),
 ('Bob', 20),
 ('Charlie', 23),
 ('Denise', 27),
 ('Frank', 22),
 ('Grace', 25),
 ('Hiro', 29),
 ('Ivy', 24),
 ('Kate', 20),
 ('Liam', 26),
 ('Mia', 28),
 ('Nate', 25),
 ('Olga', 19),
 ('Paul', 22),
 ('Quinn', 30),
 ('Rosa', 24),
 ('Tina', 20),
 ('Uma', 23),
 ('Victor', 28),
 ('Wendy', 27),
 ('Xavier', 20),
 ('Yuri', 22),
 ('Zara', 26),
 ('Ava', 19),
 ('Ben', 25),
 ('Cara', 23),
 ('Dan', 20),
 ('Ella', 28),
 ('Finn', 27),
 ('Hank', 22),
 ('Ina', 25),
 ('Jack', 29),
 ('Kim', 24),
 ('Mona', 26),
 ('Noah', 27),
 ('Opal', 23),
 ('Pia', 25),
 ('Quentin', 20),
 ('Rene', 28),
 ('Sophie', 19),
 ('Tom', 22),
 ('Usha', 27),
 ('Vik', 25),
 ('Willa', 24),
 ('Yusuf', 29),
 ('Zane', 23),
 ('Anya', 24),
 ('Bert', 28),
 ('Cleo', 19),
 ('Dion', 22),
 ('Elin', 25),
 ('Fay', 27),
 ('Hana', 23),
 ('Ian', 26),
 ('Jill', 28),
 ('Karl', 25),
 ('Lara', 19),
 ('Mark', 27),
 ('Omar', 22),
 ('Pam', 25),
 ('Qasim', 29),
 ('Rita', 24),
 ('Tara', 26),
 ('Umar', 27),
 ('Vera', 23),
 ('Walt', 20),
 ('Xia', 28),
 ('Yana', 27),
 ('Amy', 19),
 ('Benji', 26),
 ('Cora', 28),
 ('Dale', 29),
 ('Finn', 22),
 ('Gina', 25),
 ('Hugo', 28),
 ('Iris', 23),
 ('Jake', 20),
 ('Kira', 27),
 ('Liam', 27),
 ('Mira', 28),
 ('Nate', 29),
 ('Olive', 19),
 ('Pete', 22),
 ('Queen', 25),
 ('Rick', 28),
 ('Sara', 23),
 ('Tommy', 20),
 ('Uma', 27),
 ('Vince', 27),
 ('Wendy', 28),
 ('Xena', 29)]

## 10. Arithmetic

48. Show each student's age plus 2 as 'age_plus_2'.
49. Show each student's todep multiplied by 3 as 'triple_todep'.
50. Show each student's stay divided by 2 as 'half_stay' (rounded to 2 decimals).
51. Show the difference between tosc and toas for each student as 'scs_minus_asiss'.

In [ ]:
# 48. Show each student's age plus 2 as 'age_plus_2'.
%%sql
SELECT id, name, age,(age + 2) AS age_plus_2
FROM student;

 * sqlite:///students.db
Done.

[(1, 'Alice', 19, 21),
 (2, 'Bob', 20, 22),
 (3, 'Charlie', 23, 25),
 (4, 'Denise', 27, 29),
 (5, 'Elaine', 21, 23),
 (6, 'Frank', 22, 24),
 (7, 'Grace', 25, 27),
 (8, 'Hiro', 29, 31),
 (9, 'Ivy', 24, 26),
 (10, 'John', 21, 23),
 (11, 'Kate', 20, 22),
 (12, 'Liam', 26, 28),
 (13, 'Mia', 28, 30),
 (14, 'Nate', 25, 27),
 (15, 'Olga', 19, 21),
 (16, 'Paul', 22, 24),
 (17, 'Quinn', 30, 32),
 (18, 'Rosa', 24, 26),
 (19, 'Sam', 21, 23),
 (20, 'Tina', 20, 22),
 (21, 'Uma', 23, 25),
 (22, 'Victor', 28, 30),
 (23, 'Wendy', 27, 29),
 (24, 'Xavier', 20, 22),
 (25, 'Yuri', 22, 24),
 (26, 'Zara', 26, 28),
 (27, 'Ava', 19, 21),
 (28, 'Ben', 25, 27),
 (29, 'Cara', 23, 25),
 (30, 'Dan', 20, 22),
 (31, 'Ella', 28, 30),
 (32, 'Finn', 27, 29),
 (33, 'Gia', 21, 23),
 (34, 'Hank', 22, 24),
 (35, 'Ina', 25, 27),
 (36, 'Jack', 29, 31),
 (37, 'Kim', 24, 26),
 (38, 'Leo', 21, 23),
 (39, 'Mona', 26, 28),
 (40, 'Noah', 27, 29),
 (41, 'Opal', 23, 25),
 (42, 'Pia', 25, 27),
 (43, 'Quentin', 20, 22),
 (44, 'Rene', 28, 30),
 (45, 'Sophie', 19, 21),
 (46, 'Tom', 22, 24),
 (47, 'Usha', 27, 29),
 (48, 'Vik', 25, 27),
 (49, 'Willa', 24, 26),
 (50, 'Xena', 21, 23),
 (51, 'Yusuf', 29, 31),
 (52, 'Zane', 23, 25),
 (53, 'Anya', 24, 26),
 (54, 'Bert', 28, 30),
 (55, 'Cleo', 19, 21),
 (56, 'Dion', 22, 24),
 (57, 'Elin', 25, 27),
 (58, 'Fay', 27, 29),
 (59, 'Gus', 21, 23),
 (60, 'Hana', 23, 25),
 (61, 'Ian', 26, 28),
 (62, 'Jill', 28, 30),
 (63, 'Karl', 25, 27),
 (64, 'Lara', 19, 21),
 (65, 'Mark', 27, 29),
 (66, 'Nina', 21, 23),
 (67, 'Omar', 22, 24),
 (68, 'Pam', 25, 27),
 (69, 'Qasim', 29, 31),
 (70, 'Rita', 24, 26),
 (71, 'Seth', 21, 23),
 (72, 'Tara', 26, 28),
 (73, 'Umar', 27, 29),
 (74, 'Vera', 23, 25),
 (75, 'Walt', 20, 22),
 (76, 'Xia', 28, 30),
 (77, 'Yana', 27, 29),
 (78, 'Zed', 21, 23),
 (79, 'Amy', 19, 21),
 (80, 'Benji', 26, 28),
 (81, 'Cora', 28, 30),
 (82, 'Dale', 29, 31),
 (83, 'Eve', 21, 23),
 (84, 'Finn', 22, 24),
 (85, 'Gina', 25, 27),
 (86, 'Hugo', 28, 30),
 (87, 'Iris', 23, 25),
 (88, 'Jake', 20, 22),
 (89, 'Kira', 27, 29),
 (90, 'Liam', 27, 29),
 (91, 'Mira', 28, 30),
 (92, 'Nate', 29, 31),
 (93, 'Olive', 19, 21),
 (94, 'Pete', 22, 24),
 (95, 'Queen', 25, 27),
 (96, 'Rick', 28, 30),
 (97, 'Sara', 23, 25),
 (98, 'Tommy', 20, 22),
 (99, 'Uma', 27, 29),
 (100, 'Vince', 27, 29),
 (101, 'Wendy', 28, 30),
 (102, 'Xena', 29, 31)]

In [ ]:
# 49. Show each student's todep multiplied by 3 as 'triple_todep'.
%%sql
SELECT id, name,todep, (todep * 3) AS triple_todep
FROM student;

 * sqlite:///students.db
Done.

[(1, 'Alice', 9, 27),
 (2, 'Bob', 5, 15),
 (3, 'Charlie', 12, 36),
 (4, 'Denise', 15, 45),
 (5, 'Elaine', 7, 21),
 (6, 'Frank', 6, 18),
 (7, 'Grace', 4, 12),
 (8, 'Hiro', 17, 51),
 (9, 'Ivy', 8, 24),
 (10, 'John', 3, 9),
 (11, 'Kate', 11, 33),
 (12, 'Liam', 6, 18),
 (13, 'Mia', 14, 42),
 (14, 'Nate', 10, 30),
 (15, 'Olga', 2, 6),
 (16, 'Paul', 13, 39),
 (17, 'Quinn', 16, 48),
 (18, 'Rosa', 5, 15),
 (19, 'Sam', 7, 21),
 (20, 'Tina', 4, 12),
 (21, 'Uma', 8, 24),
 (22, 'Victor', 12, 36),
 (23, 'Wendy', 13, 39),
 (24, 'Xavier', 7, 21),
 (25, 'Yuri', 10, 30),
 (26, 'Zara', 15, 45),
 (27, 'Ava', 2, 6),
 (28, 'Ben', 9, 27),
 (29, 'Cara', 11, 33),
 (30, 'Dan', 4, 12),
 (31, 'Ella', 12, 36),
 (32, 'Finn', 16, 48),
 (33, 'Gia', 5, 15),
 (34, 'Hank', 14, 42),
 (35, 'Ina', 3, 9),
 (36, 'Jack', 17, 51),
 (37, 'Kim', 8, 24),
 (38, 'Leo', 6, 18),
 (39, 'Mona', 13, 39),
 (40, 'Noah', 15, 45),
 (41, 'Opal', 11, 33),
 (42, 'Pia', 9, 27),
 (43, 'Quentin', 5, 15),
 (44, 'Rene', 13, 39),
 (45, 'Sophie', 7, 21),
 (46, 'Tom', 10, 30),
 (47, 'Usha', 14, 42),
 (48, 'Vik', 6, 18),
 (49, 'Willa', 8, 24),
 (50, 'Xena', 3, 9),
 (51, 'Yusuf', 15, 45),
 (52, 'Zane', 9, 27),
 (53, 'Anya', 7, 21),
 (54, 'Bert', 12, 36),
 (55, 'Cleo', 5, 15),
 (56, 'Dion', 11, 33),
 (57, 'Elin', 14, 42),
 (58, 'Fay', 15, 45),
 (59, 'Gus', 2, 6),
 (60, 'Hana', 6, 18),
 (61, 'Ian', 13, 39),
 (62, 'Jill', 10, 30),
 (63, 'Karl', 9, 27),
 (64, 'Lara', 3, 9),
 (65, 'Mark', 15, 45),
 (66, 'Nina', 7, 21),
 (67, 'Omar', 14, 42),
 (68, 'Pam', 4, 12),
 (69, 'Qasim', 12, 36),
 (70, 'Rita', 8, 24),
 (71, 'Seth', 6, 18),
 (72, 'Tara', 10, 30),
 (73, 'Umar', 14, 42),
 (74, 'Vera', 11, 33),
 (75, 'Walt', 8, 24),
 (76, 'Xia', 13, 39),
 (77, 'Yana', 15, 45),
 (78, 'Zed', 4, 12),
 (79, 'Amy', 6, 18),
 (80, 'Benji', 13, 39),
 (81, 'Cora', 12, 36),
 (82, 'Dale', 15, 45),
 (83, 'Eve', 7, 21),
 (84, 'Finn', 9, 27),
 (85, 'Gina', 12, 36),
 (86, 'Hugo', 16, 48),
 (87, 'Iris', 11, 33),
 (88, 'Jake', 8, 24),
 (89, 'Kira', 13, 39),
 (90, 'Liam', 14, 42),
 (91, 'Mira', 10, 30),
 (92, 'Nate', 17, 51),
 (93, 'Olive', 5, 15),
 (94, 'Pete', 6, 18),
 (95, 'Queen', 12, 36),
 (96, 'Rick', 15, 45),
 (97, 'Sara', 9, 27),
 (98, 'Tommy', 7, 21),
 (99, 'Uma', 14, 42),
 (100, 'Vince', 13, 39),
 (101, 'Wendy', 13, 39),
 (102, 'Xena', 16, 48)]

In [ ]:
# 50. Show each student's stay divided by 2 as 'half_stay' (rounded to 2 decimals).
%%sql
SELECT id,name,stay,ROUND((stay / 2.0), 2) AS half_stay
FROM student;

 * sqlite:///students.db
Done.

[(1, 'Alice', 1, 0.5),
 (2, 'Bob', 2, 1.0),
 (3, 'Charlie', 4, 2.0),
 (4, 'Denise', 5, 2.5),
 (5, 'Elaine', 3, 1.5),
 (6, 'Frank', 2, 1.0),
 (7, 'Grace', 6, 3.0),
 (8, 'Hiro', 6, 3.0),
 (9, 'Ivy', 3, 1.5),
 (10, 'John', 3, 1.5),
 (11, 'Kate', 1, 0.5),
 (12, 'Liam', 6, 3.0),
 (13, 'Mia', 5, 2.5),
 (14, 'Nate', 4, 2.0),
 (15, 'Olga', 2, 1.0),
 (16, 'Paul', 3, 1.5),
 (17, 'Quinn', 7, 3.5),
 (18, 'Rosa', 4, 2.0),
 (19, 'Sam', 2, 1.0),
 (20, 'Tina', 1, 0.5),
 (21, 'Uma', 2, 1.0),
 (22, 'Victor', 5, 2.5),
 (23, 'Wendy', 6, 3.0),
 (24, 'Xavier', 2, 1.0),
 (25, 'Yuri', 1, 0.5),
 (26, 'Zara', 4, 2.0),
 (27, 'Ava', 2, 1.0),
 (28, 'Ben', 5, 2.5),
 (29, 'Cara', 1, 0.5),
 (30, 'Dan', 2, 1.0),
 (31, 'Ella', 5, 2.5),
 (32, 'Finn', 6, 3.0),
 (33, 'Gia', 3, 1.5),
 (34, 'Hank', 2, 1.0),
 (35, 'Ina', 5, 2.5),
 (36, 'Jack', 7, 3.5),
 (37, 'Kim', 3, 1.5),
 (38, 'Leo', 2, 1.0),
 (39, 'Mona', 4, 2.0),
 (40, 'Noah', 6, 3.0),
 (41, 'Opal', 2, 1.0),
 (42, 'Pia', 5, 2.5),
 (43, 'Quentin', 2, 1.0),
 (44, 'Rene', 6, 3.0),
 (45, 'Sophie', 1, 0.5),
 (46, 'Tom', 1, 0.5),
 (47, 'Usha', 5, 2.5),
 (48, 'Vik', 5, 2.5),
 (49, 'Willa', 3, 1.5),
 (50, 'Xena', 2, 1.0),
 (51, 'Yusuf', 7, 3.5),
 (52, 'Zane', 2, 1.0),
 (53, 'Anya', 4, 2.0),
 (54, 'Bert', 6, 3.0),
 (55, 'Cleo', 1, 0.5),
 (56, 'Dion', 2, 1.0),
 (57, 'Elin', 5, 2.5),
 (58, 'Fay', 6, 3.0),
 (59, 'Gus', 2, 1.0),
 (60, 'Hana', 1, 0.5),
 (61, 'Ian', 6, 3.0),
 (62, 'Jill', 5, 2.5),
 (63, 'Karl', 4, 2.0),
 (64, 'Lara', 2, 1.0),
 (65, 'Mark', 6, 3.0),
 (66, 'Nina', 3, 1.5),
 (67, 'Omar', 2, 1.0),
 (68, 'Pam', 5, 2.5),
 (69, 'Qasim', 7, 3.5),
 (70, 'Rita', 3, 1.5),
 (71, 'Seth', 2, 1.0),
 (72, 'Tara', 4, 2.0),
 (73, 'Umar', 6, 3.0),
 (74, 'Vera', 2, 1.0),
 (75, 'Walt', 2, 1.0),
 (76, 'Xia', 5, 2.5),
 (77, 'Yana', 6, 3.0),
 (78, 'Zed', 3, 1.5),
 (79, 'Amy', 2, 1.0),
 (80, 'Benji', 6, 3.0),
 (81, 'Cora', 5, 2.5),
 (82, 'Dale', 7, 3.5),
 (83, 'Eve', 2, 1.0),
 (84, 'Finn', 2, 1.0),
 (85, 'Gina', 5, 2.5),
 (86, 'Hugo', 6, 3.0),
 (87, 'Iris', 1, 0.5),
 (88, 'Jake', 2, 1.0),
 (89, 'Kira', 5, 2.5),
 (90, 'Liam', 6, 3.0),
 (91, 'Mira', 5, 2.5),
 (92, 'Nate', 7, 3.5),
 (93, 'Olive', 2, 1.0),
 (94, 'Pete', 2, 1.0),
 (95, 'Queen', 5, 2.5),
 (96, 'Rick', 6, 3.0),
 (97, 'Sara', 1, 0.5),
 (98, 'Tommy', 2, 1.0),
 (99, 'Uma', 5, 2.5),
 (100, 'Vince', 6, 3.0),
 (101, 'Wendy', 5, 2.5),
 (102, 'Xena', 7, 3.5)]

In [ ]:
# 51. Show the difference between tosc and toas for each student as 'scs_minus_asiss'.
%%sql
SELECT id, name, tosc,toas,(tosc - toas) AS scs_minus_asiss
FROM student;

 * sqlite:///students.db
Done.

[(1, 'Alice', 35, 22, 13),
 (2, 'Bob', 40, 18, 22),
 (3, 'Charlie', 30, 24, 6),
 (4, 'Denise', 25, 30, -5),
 (5, 'Elaine', 45, 17, 28),
 (6, 'Frank', 38, 20, 18),
 (7, 'Grace', 42, 15, 27),
 (8, 'Hiro', 28, 35, -7),
 (9, 'Ivy', 33, 21, 12),
 (10, 'John', 50, 14, 36),
 (11, 'Kate', 31, 28, 3),
 (12, 'Liam', 41, 19, 22),
 (13, 'Mia', 29, 27, 2),
 (14, 'Nate', 37, 23, 14),
 (15, 'Olga', 47, 11, 36),
 (16, 'Paul', 32, 26, 6),
 (17, 'Quinn', 27, 29, -2),
 (18, 'Rosa', 43, 18, 25),
 (19, 'Sam', 36, 20, 16),
 (20, 'Tina', 48, 15, 33),
 (21, 'Uma', 34, 23, 11),
 (22, 'Victor', 39, 27, 12),
 (23, 'Wendy', 32, 30, 2),
 (24, 'Xavier', 44, 20, 24),
 (25, 'Yuri', 37, 24, 13),
 (26, 'Zara', 28, 28, 0),
 (27, 'Ava', 47, 13, 34),
 (28, 'Ben', 35, 25, 10),
 (29, 'Cara', 30, 29, 1),
 (30, 'Dan', 48, 18, 30),
 (31, 'Ella', 26, 32, -6),
 (32, 'Finn', 31, 30, 1),
 (33, 'Gia', 45, 20, 25),
 (34, 'Hank', 33, 27, 6),
 (35, 'Ina', 46, 16, 30),
 (36, 'Jack', 28, 34, -6),
 (37, 'Kim', 31, 21, 10),
 (38, 'Leo', 43, 19, 24),
 (39, 'Mona', 29, 28, 1),
 (40, 'Noah', 40, 22, 18),
 (41, 'Opal', 35, 27, 8),
 (42, 'Pia', 36, 23, 13),
 (43, 'Quentin', 44, 15, 29),
 (44, 'Rene', 33, 29, 4),
 (45, 'Sophie', 48, 17, 31),
 (46, 'Tom', 38, 26, 12),
 (47, 'Usha', 32, 30, 2),
 (48, 'Vik', 46, 18, 28),
 (49, 'Willa', 30, 22, 8),
 (50, 'Xena', 48, 14, 34),
 (51, 'Yusuf', 27, 34, -7),
 (52, 'Zane', 36, 21, 15),
 (53, 'Anya', 45, 16, 29),
 (54, 'Bert', 32, 28, 4),
 (55, 'Cleo', 50, 13, 37),
 (56, 'Dion', 34, 25, 9),
 (57, 'Elin', 42, 19, 23),
 (58, 'Fay', 30, 30, 0),
 (59, 'Gus', 48, 11, 37),
 (60, 'Hana', 33, 28, 5),
 (61, 'Ian', 41, 18, 23),
 (62, 'Jill', 29, 27, 2),
 (63, 'Karl', 37, 23, 14),
 (64, 'Lara', 47, 13, 34),
 (65, 'Mark', 28, 30, -2),
 (66, 'Nina', 45, 17, 28),
 (67, 'Omar', 31, 26, 5),
 (68, 'Pam', 46, 15, 31),
 (69, 'Qasim', 28, 34, -6),
 (70, 'Rita', 35, 22, 13),
 (71, 'Seth', 43, 19, 24),
 (72, 'Tara', 29, 28, 1),
 (73, 'Umar', 40, 22, 18),
 (74, 'Vera', 36, 27, 9),
 (75, 'Walt', 44, 16, 28),
 (76, 'Xia', 30, 27, 3),
 (77, 'Yana', 27, 30, -3),
 (78, 'Zed', 48, 12, 36),
 (79, 'Amy', 35, 21, 14),
 (80, 'Benji', 41, 19, 22),
 (81, 'Cora', 29, 28, 1),
 (82, 'Dale', 27, 34, -7),
 (83, 'Eve', 47, 15, 32),
 (84, 'Finn', 38, 23, 15),
 (85, 'Gina', 42, 18, 24),
 (86, 'Hugo', 30, 30, 0),
 (87, 'Iris', 34, 29, 5),
 (88, 'Jake', 43, 20, 23),
 (89, 'Kira', 32, 27, 5),
 (90, 'Liam', 40, 22, 18),
 (91, 'Mira', 29, 28, 1),
 (92, 'Nate', 28, 34, -6),
 (93, 'Olive', 47, 13, 34),
 (94, 'Pete', 36, 22, 14),
 (95, 'Queen', 45, 17, 28),
 (96, 'Rick', 32, 28, 4),
 (97, 'Sara', 31, 27, 4),
 (98, 'Tommy', 44, 19, 25),
 (99, 'Uma', 30, 29, 1),
 (100, 'Vince', 41, 20, 21),
 (101, 'Wendy', 28, 27, 1),
 (102, 'Xena', 27, 34, -7)]

## 11. Combined & Challenge

52. Show, for each region, the number of international students who are older than 25.
53. Show the top 3 regions with the highest average todep score.
54. Show, for each academic level, the average stay and number of students, only for those levels with more than 5 students.
55. Show the number of female graduate students in each region who have a depression score above 10.
56. Show the average todep for each region and academic combination, ordered by average todep descending.
57. Show all students whose todep is above the average todep for all students (use a subquery).
58. Show all students whose age is exactly twice their length of stay.
59. Show the percentage of students in each region (as a decimal, not percentage).
60. Show the average toas for students who have 'High' proficiency in both Japanese and English.

In [ ]:
# 52. Show, for each region, the number of international students who are older than 25.
%%sql
SELECT region, COUNT(*) AS total_international
FROM student
WHERE age > 25 AND inter_dom = "Inter"
GROUP BY region;

 * sqlite:///students.db
Done.

[('EA', 14), ('SA', 10), ('SEA', 7)]

In [ ]:
# 53. Show the top 3 regions with the highest average todep score.
%%sql
SELECT region, AVG(todep) AS avg_todep
FROM student
GROUP BY region
ORDER BY avg_todep DESC
LIMIT 3;

 * sqlite:///students.db
Done.

[('EA', 12.761904761904763),
 ('SA', 12.368421052631579),
 ('SEA', 10.142857142857142)]

In [ ]:
# 54. Show, for each academic level, the average stay and number of students, only for those levels with more than 5 students.
%%sql
SELECT academic, AVG(stay), COUNT(*) AS avg_count_student
FROM student
GROUP BY academic
HAVING COUNT(*) > 5;

 * sqlite:///students.db
Done.

[('Grad', 5.407407407407407, 54), ('Under', 1.9583333333333333, 48)]

In [ ]:
# 55. Show the number of female graduate students in each region who have a depression score above 10.
%%sql
SELECT region, COUNT(*)
FROM student
WHERE todep > 10 AND gender ="Female" AND academic = "Grad"
GROUP BY region;

 * sqlite:///students.db
Done.

[('EA', 6), ('JAP', 3), ('SA', 5), ('SEA', 5)]

In [ ]:
# 56. Show the average todep for each region and academic combination, ordered by average todep descending.
%%sql
SELECT region, academic, AVG(todep) AS avg_todep
FROM student
GROUP BY region, academic
ORDER BY avg_todep DESC;

 * sqlite:///students.db
Done.

[('SA', 'Grad', 14.7),
 ('EA', 'Grad', 13.4),
 ('SEA', 'Grad', 11.833333333333334),
 ('EA', 'Under', 11.166666666666666),
 ('JAP', 'Grad', 9.823529411764707),
 ('SA', 'Under', 9.777777777777779),
 ('SEA', 'Under', 7.888888888888889),
 ('JAP', 'Under', 5.083333333333333)]

In [ ]:
# 57. Show all students whose todep is above the average todep for all students (use a subquery).
%%sql
SELECT * FROM student
WHERE todep > (
      SELECT AVG(todep)
      FROM student
);

 * sqlite:///students.db
Done.

[(3, 'Charlie', 'Inter', 'EA', 'Male', 'Grad', 23, 4, 'High', 'High', 12, 30, 24, 'Denise'),
 (4, 'Denise', 'Inter', 'SA', 'Female', 'Grad', 27, 5, 'Average', 'High', 15, 25, 30, None),
 (8, 'Hiro', 'Inter', 'EA', 'Male', 'Grad', 29, 6, 'High', 'High', 17, 28, 35, 'Grace'),
 (11, 'Kate', 'Inter', 'SA', 'Female', 'Under', 20, 1, 'Low', 'High', 11, 31, 28, None),
 (13, 'Mia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 14, 29, 27, 'Hiro'),
 (14, 'Nate', 'Inter', 'SEA', 'Male', 'Grad', 25, 4, 'High', 'Average', 10, 37, 23, None),
 (16, 'Paul', 'Inter', 'EA', 'Male', 'Under', 22, 3, 'High', 'High', 13, 32, 26, 'Mia'),
 (17, 'Quinn', 'Inter', 'SA', 'Female', 'Grad', 30, 7, 'Average', 'High', 16, 27, 29, None),
 (22, 'Victor', 'Dom', 'JAP', 'Male', 'Grad', 28, 5, 'High', 'Average', 12, 39, 27, None),
 (23, 'Wendy', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'Low', 'High', 13, 32, 30, 'Yuri'),
 (25, 'Yuri', 'Inter', 'SA', 'Male', 'Under', 22, 1, 'High', 'Low', 10, 37, 24, None),
 (26, 'Zara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'Average', 'High', 15, 28, 28, 'Victor'),
 (29, 'Cara', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Low', 'High', 11, 30, 29, None),
 (31, 'Ella', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'High', 12, 26, 32, None),
 (32, 'Finn', 'Inter', 'SEA', 'Male', 'Grad', 27, 6, 'Average', 'Average', 16, 31, 30, None),
 (34, 'Hank', 'Inter', 'SA', 'Male', 'Under', 22, 2, 'Average', 'High', 14, 33, 27, 'Cara'),
 (36, 'Jack', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, 'Gia'),
 (39, 'Mona', 'Inter', 'SA', 'Female', 'Grad', 26, 4, 'High', 'Average', 13, 29, 28, None),
 (40, 'Noah', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 40, 22, None),
 (41, 'Opal', 'Inter', 'EA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 35, 27, 'Leo'),
 (44, 'Rene', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Low', 'High', 13, 33, 29, None),
 (46, 'Tom', 'Inter', 'EA', 'Male', 'Under', 22, 1, 'High', 'Average', 10, 38, 26, 'Sophie'),
 (47, 'Usha', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'Average', 'High', 14, 32, 30, None),
 (51, 'Yusuf', 'Inter', 'EA', 'Male', 'Grad', 29, 7, 'High', 'High', 15, 27, 34, 'Willa'),
 (54, 'Bert', 'Inter', 'SA', 'Male', 'Grad', 28, 6, 'Average', 'High', 12, 32, 28, None),
 (56, 'Dion', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'Low', 'High', 11, 34, 25, None),
 (57, 'Elin', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 14, 42, 19, None),
 (58, 'Fay', 'Inter', 'SEA', 'Female', 'Grad', 27, 6, 'High', 'Average', 15, 30, 30, None),
 (61, 'Ian', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'High', 'High', 13, 41, 18, None),
 (62, 'Jill', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 27, None),
 (65, 'Mark', 'Inter', 'SA', 'Male', 'Grad', 27, 6, 'Average', 'High', 15, 28, 30, None),
 (67, 'Omar', 'Inter', 'EA', 'Male', 'Under', 22, 2, 'High', 'High', 14, 31, 26, None),
 (69, 'Qasim', 'Inter', 'SEA', 'Male', 'Grad', 29, 7, 'Average', 'Average', 12, 28, 34, None),
 (72, 'Tara', 'Inter', 'EA', 'Female', 'Grad', 26, 4, 'High', 'Average', 10, 29, 28, None),
 (73, 'Umar', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (74, 'Vera', 'Inter', 'SEA', 'Female', 'Under', 23, 2, 'Low', 'High', 11, 36, 27, 'Umar'),
 (76, 'Xia', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'High', 13, 30, 27, 'Walt'),
 (77, 'Yana', 'Inter', 'SA', 'Female', 'Grad', 27, 6, 'High', 'High', 15, 27, 30, None),
 (80, 'Benji', 'Dom', 'JAP', 'Male', 'Grad', 26, 6, 'Average', 'High', 13, 41, 19, None),
 (81, 'Cora', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'High', 'Average', 12, 29, 28, None),
 (82, 'Dale', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'Average', 'High', 15, 27, 34, None),
 (85, 'Gina', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'Average', 'High', 12, 42, 18, None),
 (86, 'Hugo', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'High', 'High', 16, 30, 30, None),
 (87, 'Iris', 'Inter', 'SA', 'Female', 'Under', 23, 1, 'Average', 'Average', 11, 34, 29, None),
 (89, 'Kira', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 13, 32, 27, None),
 (90, 'Liam', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 14, 40, 22, None),
 (91, 'Mira', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 10, 29, 28, None),
 (92, 'Nate', 'Inter', 'SA', 'Male', 'Grad', 29, 7, 'High', 'High', 17, 28, 34, None),
 (95, 'Queen', 'Dom', 'JAP', 'Female', 'Grad', 25, 5, 'High', 'High', 12, 45, 17, None),
 (96, 'Rick', 'Inter', 'EA', 'Male', 'Grad', 28, 6, 'Average', 'High', 15, 32, 28, None),
 (99, 'Uma', 'Inter', 'SEA', 'Female', 'Grad', 27, 5, 'High', 'Average', 14, 30, 29, None),
 (100, 'Vince', 'Dom', 'JAP', 'Male', 'Grad', 27, 6, 'Average', 'High', 13, 41, 20, None),
 (101, 'Wendy', 'Inter', 'EA', 'Female', 'Grad', 28, 5, 'Average', 'Average', 13, 28, 27, None),
 (102, 'Xena', 'Inter', 'SA', 'Female', 'Grad', 29, 7, 'High', 'High', 16, 27, 34, None)]

In [8]:
# 58. Show all students whose age is exactly twice their length of stay.
%%sql
SELECT * FROM student
WHERE age  = 2 * stay;

 * sqlite:///students.db
Done.

[]

In [9]:
# 59. Show the percentage of students in each region (as a decimal, not percentage).
%%sql
SELECT region, 1.0 * COUNT(*) / (SELECT COUNT(*) FROM student) AS region_fraction
FROM student
GROUP BY region;

 * sqlite:///students.db
Done.

[('EA', 0.20588235294117646),
 ('JAP', 0.4019607843137255),
 ('SA', 0.18627450980392157),
 ('SEA', 0.20588235294117646)]

In [12]:
# 60. Show the average toas for students who have 'High' proficiency in both Japanese and English.
%%sql
SELECT AVG(toas) AS avg_toas
FROM student
WHERE japanese_cate = "High" AND english_cate = "High";

 * sqlite:///students.db
Done.

[(25.647058823529413,)]